/* Base */
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
img, video {
	max-width: 100%;
}
main > *:not(:first-child) {
	margin-top: 40px;
}

/* Video Clip : Base */
.video-clip {
	display: inline-block;
	position: relative;

	img {
		position: relative;
		z-index: 1;
	}
	
	video {
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		transition: opacity ease-in-out 1250ms;
		z-index: 0;
	}
	
	&-control {
		background-color: rgba(255,255,255,0.7);
		border: 0;
		border-radius: 50%;
		bottom: 20px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
		cursor: pointer;
		font-size: 0;
		height: 44px;
		left: 20px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		text-indent: 100%;
		transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out, opacity 250ms ease-in-out;
		width: 44px;
		white-space: nowrap;
		z-index: 1;
	
		/* Pause : Defualt */
		&::before {
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='16'%3E%3Cg fill='none' stroke='%23000' stroke-width='3' stroke-linecap='square'%3E%3Cpath d='M1.5 1v14M7.86 1v14'/%3E%3C/g%3E%3C/svg%3E") center center no-repeat;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			position: absolute;
			text-indent: initial;
			top: 0;
			width: 100%;
		}
		
		/* Play */
		&--play::before {
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='16'%3E%3Cpath fill-rule='evenodd' d='M0 1l10 7-10 7z'/%3E%3C/svg%3E") center center no-repeat;
		}
		
		/* Replay */
		&--replay {
			opacity: 1;
		}
		&--replay::before {
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='20' viewBox='0 0 18 20'%3E%3Cpath fill='%23000' d='M14.6725532,10.8729787 C14.6725532,14.0359574 12.0991489,16.6093617 8.93617021,16.6093617 C5.77319149,16.6093617 3.19978723,14.0359574 3.19978723,10.8729787 C3.19978723,8.04340426 5.25978723,5.68744681 7.95829787,5.22170213 L7.95829787,6.88255319 L13.7453191,3.5412766 L7.95829787,0.199361702 L7.95829787,1.99978723 C3.49404255,2.48829787 0.00829787234,6.2806383 0.00829787234,10.8729787 C0.00829787234,15.7957447 4.01340426,19.8006383 8.93617021,19.8006383 C13.8591489,19.8006383 17.8640426,15.7957447 17.8640426,10.872766 L14.6725532,10.872766 L14.6725532,10.8729787 Z'/%3E%3C/svg%3E") center center no-repeat;
		}
		
		/* Focus */
		&:focus {
			background-color: rgba(2552, 255, 255, 0.9);
			box-shadow: 0 0 3px 1px rgba(0,0,0,1);
			opacity: 1;
			outline: none;
		}
	}
}

/* Video Clip : Active */
.js-videoClip--active {
	
	video {
		opacity: 1;
		z-index: 1;
	}
}

/* Hover */
@media (hover: hover) and(pointer: fine) {
	.video-clip:hover .video-clip-control {
		opacity: 1;
	}
	.video-clip-control:hover {
		background-color: rgba(2552, 255, 255, 0.9);
		box-shadow: 0 0 3px 1px rgba(0,0,0,1);
	}
}